.movies .movie {
    width: 40%;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;  /* Items를 시작점부터 정렬*/
    justify-content: space-between;
    font-weight: 300;
    padding: 20px;
    color: #adae89;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  
  .movie img {
    position: relative;
    top: -50px;
    max-width: 125px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  
  .movie .movie__title,
  .movie .movie__year {
    font-weight: 300;  /* 굵기 */
    margin: 0;
  }
  
  .movie .movie__title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
  }
    /*  opacity: 0.5;  선명도(색으로 대체됨) */
  
  .movie .movie__genres {
    list-style: none; /* 동그라미 제거 */
    padding: 0;
    margin: 0;
    display: flex;  /* 옆으로 정렬하기 위해 */
    margin: 5px 0px;
  }
  
  .movie__genres li {
    margin-right: 10px;
    font-size: 14px;
  }